@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 解决IOS默认滑动很卡的情况 */
  -webkit-overflow-scrolling: touch;
}
/* 禁止缩放表单 */
input[type="submit"],
input[type="reset"],
input[type="button"],
input {
  resize: none;
  border: none;
}
/* 取消链接高亮  */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 设置HTML5元素为块 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* 图片自适应 */
img {
  width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
  display: block;
  -ms-interpolation-mode: bicubic;
  /*为了照顾ie图片缩放失真*/
}
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
body {
  font: 12px/1.5 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
  color: #555;
  background-color: #fff;
}
em,
i {
  font-style: normal;
}
ul,
li {
  list-style-type: none;
}
strong {
  font-weight: normal;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
a {
  text-decoration: none;
  color: #969696;
  font-family: 'Microsoft YaHei', Tahoma, Arial, sans-serif;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: 'Microsoft YaHei';
}
img {
  border: none;
}
input {
  font-family: 'Microsoft YaHei';
}
.w50 {
  width: 50%;
}
.w25 {
  width: 25%;
}
.w20 {
  width: 20%;
}
.w33 {
  width: 33.333333%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.db {
  display: block !important;
}
.dn {
  display: none;
}
/*单行溢出*/
.one_txt_cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 水平垂直居中的公共类 */
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* 水平居中公共类 */
.center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* 垂直居中公共类 */
.center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.bgz {
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.bz {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 1200px;
}
button {
  outline: none;
}
a:link {
  text-decoration: none ;
  color: white ;
}
a:visited {
  text-decoration: none ;
  color: white;
}
a:hover {
  text-decoration: underline ;
  color: white;
}
a:active {
  text-decoration: none ;
  color: white;
}
.star {
  color: #71bffd;
  font-size: 15px;
  font-weight: bold;
}
.mt-12 {
  margin-bottom: 12px;
}
.mt-15 {
  margin-bottom: 15px;
}
.waybill {
  width: 100%;
}
.waybill .bill_top {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  padding-right: 70px;
  box-sizing: border-box;
  background-color: #e1f4fd;
}
.waybill .bill_top i {
  color: #62b2fe;
  font-size: 16px;
  font-weight: bold;
}
.waybill .bill_select {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 3%;
  box-sizing: border-box;
}
.waybill .bill_select .layui-col-md3 {
  width: 25%;
}
.waybill .bill_select span {
  color: #333;
  font-size: 14px;
}
.waybill .bill_select span.mg-5 {
  margin-right: 5%;
}
.waybill .bill_select span.mg-8 {
  margin-right: 8%;
}
.waybill .bill_select span.mg-9 {
  margin-right: 9%;
}
.waybill .bill_select input {
  border: 1px solid #edeaec;
  height: 25px;
  border-radius: 1px;
  color: #767676;
  background-color: #f1fefc;
  text-align: center;
}
.waybill .bill_select input.orgn {
  width: 29%;
}
.waybill .bill_select select {
  border: 1px solid #edeaec;
  height: 25px;
  border-radius: 1px;
  color: #767676;
  background-color: #f1fefc;
  text-indent: 5px;
}
.waybill .bill_select select.city {
  width: 20%;
}
.waybill .bill_select select.type {
  width: 29%;
}
.waybill .bill_select select option {
  text-align: center;
}
.waybill .bill_select .btn_box {
  padding-left: 50px;
  box-sizing: border-box;
}
.waybill .bill_select button {
  width: 68px;
  height: 30px;
  background-color: #6bc4fd;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: left;
  padding-left: 12px;
  box-sizing: border-box;
  position: relative;
}
.waybill .bill_select .select_btn1 {
  position: absolute;
  left: 94px;
  top: 5px;
  color: #fff;
}
.waybill .bill_select .select_btn2 {
  position: absolute;
  top: 4px;
  left: 165px;
  color: #fff;
}
.waybill .bill_select .time_sel {
  width: 30%;
  float: left;
}
.waybill .chioce_btn {
  height: 45px;
  background-color: #e4ecef;
  padding: 5px 0;
  position: relative;
}
.waybill .chioce_btn button {
  height: 100%;
  width: 90px;
  text-align: left;
  padding-left: 20px;
  box-sizing: border-box;
  border: none;
  color: #fff;
  font-size: 14px;
}
.waybill .chioce_btn .chioce_btn1 {
  background-color: #6bc4ff;
}
.waybill .chioce_btn .chioce_btn2 {
  background-color: #48b2f7;
}
.waybill .chioce_btn .chioce_btn3 {
  background-color: #69c5ff;
}
.waybill .chioce_btn .chioce_btn4 {
  background-color: #57abfe;
}
.waybill .chioce_btn .chioce_btn5 {
  background-color: #6a9fe2;
}
.waybill .chioce_btn i {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 21px;
}
.waybill .chioce_btn .chioce_btn1 {
  margin-left: 5px;
  left: 58px;
  top: 14px;
}
.waybill .chioce_btn .chioce_btn2 {
  left: 152px;
  top: 14px;
}
.waybill .chioce_btn .chioce_btn3 {
  left: 246px;
  top: 15px;
}
.waybill .chioce_btn .chioce_btn4 {
  left: 338px;
  top: 14px;
}
.waybill .chioce_btn .chioce_btn5 {
  left: 434px;
  top: 14px;
}
.waybill .waybill_list {
  padding: 0;
}
.waybill .layui-table {
  margin: 0;
  padding: 0;
}
.waybill .layui-table thead tr {
  background-color: #e0f5fd;
}
.waybill .layui-table-header {
  background-color: #e0f5fd;
}
.waybill .layui-table,
.waybill .layui-table-view {
  margin: 0;
}
